## QA

A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [23]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

In [3]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
print(f"Number of data points: {concrete_data.shape}")

Number of data points: (1030, 9)

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [9]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

#### Build the model

In [18]:
n_cols = n_cols = predictors.shape[1]
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [19]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [20]:
model = regression_model()

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 157398.7188
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 53865.9922
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 14632.3135
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 4252.2231
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 2412.1206
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 2139.6038
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 2072.3901
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 2009.9006
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1948.6732
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 1888.3948
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 1829.0161
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1770.5692
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1715.4819
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 1662.1924
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 1609.4471
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 1563.1414
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1514.2825
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1468.0286
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1424.4332
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 1384.0815
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 1344.0834
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 1305.9269
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 1270.0298
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 1234.8862
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 1199.2219
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 1166.5731
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 1134.6086
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 1102.8799
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 1073.3328
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 1045.0024
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 1016.3416
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 989.4799
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 963.5844
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 936.5656
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 911.2795
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 889.2910
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 867.0332
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 840.3588
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 818.5323
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 797.5901
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 776.0619
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 755.3929
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 734.8909
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 716.3088
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 696.4875
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 677.1804
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 659.7674
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 642.0126
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 625.5396
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 608.6837

In [22]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 569.8598
10/10 [==============================] - 0s 875us/step

569.8598022460938

In [24]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

569.8597638282058 0.0

Now, we are going to see how MSE changes as we repeat the training process up to 50 times:

In [26]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("The mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data are as follows. Total number of epochs for each training session is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 115.24043273925781
10/10 [==============================] - 0s 3ms/step
MSE 2: 124.98944091796875
10/10 [==============================] - 0s 10ms/step
MSE 3: 115.70441436767578
10/10 [==============================] - 0s 2ms/step
MSE 4: 129.15061950683594
10/10 [==============================] - 0s 2ms/step
MSE 5: 125.53929901123047
10/10 [==============================] - 0s 2ms/step
MSE 6: 135.0193634033203
10/10 [==============================] - 0s 2ms/step
MSE 7: 132.30995178222656
10/10 [==============================] - 0s 1ms/step
MSE 8: 103.07869720458984
10/10 [==============================] - 0s 1ms/step
MSE 9: 125.91846466064453
10/10 [==============================] - 0s 2ms/step
MSE 10: 111.76556396484375
10/10 [==============================] - 0s 1ms/step
MSE 11: 113.79993438720703
10/10 [==============================] - 0s 1ms/step
MSE 12: 101.20069885253906
10/10 [==============================] - 0s 1ms/step
MSE 13: 122.51966094970703
10/10 [==============================] - 0s 2ms/step
MSE 14: 120.7574462890625
10/10 [==============================] - 0s 2ms/step
MSE 15: 120.62186431884766
10/10 [==============================] - 0s 3ms/step
MSE 16: 116.38761901855469
10/10 [==============================] - 0s 1ms/step
MSE 17: 104.62128448486328
10/10 [==============================] - 0s 1ms/step
MSE 18: 100.46812438964844
10/10 [==============================] - 0s 1ms/step
MSE 19: 97.71475219726562
10/10 [==============================] - 0s 2ms/step
MSE 20: 114.47415924072266
10/10 [==============================] - 0s 2ms/step
MSE 21: 101.65139770507812
10/10 [==============================] - 0s 2ms/step
MSE 22: 106.23422241210938
10/10 [==============================] - 0s 2ms/step
MSE 23: 107.62057495117188
10/10 [==============================] - 0s 3ms/step
MSE 24: 103.06661224365234
10/10 [==============================] - 0s 2ms/step
MSE 25: 107.48320007324219
10/10 [==============================] - 0s 3ms/step
MSE 26: 101.20545196533203
10/10 [==============================] - 0s 2ms/step
MSE 27: 127.0472640991211
10/10 [==============================] - 0s 3ms/step
MSE 28: 121.08636474609375
10/10 [==============================] - 0s 2ms/step
MSE 29: 111.81453704833984
10/10 [==============================] - 0s 2ms/step
MSE 30: 112.65426635742188
10/10 [==============================] - 0s 2ms/step
MSE 31: 131.97885131835938
10/10 [==============================] - 0s 2ms/step
MSE 32: 106.56288146972656
10/10 [==============================] - 0s 1ms/step
MSE 33: 106.83683776855469
10/10 [==============================] - 0s 2ms/step
MSE 34: 124.81378936767578
10/10 [==============================] - 0s 2ms/step
MSE 35: 120.87798309326172
10/10 [==============================] - 0s 2ms/step
MSE 36: 121.60710144042969
10/10 [==============================] - 0s 1ms/step
MSE 37: 115.66252136230469
10/10 [==============================] - 0s 2ms/step
MSE 38: 113.64312744140625
10/10 [==============================] - 0s 2ms/step
MSE 39: 107.49394226074219
10/10 [==============================] - 0s 2ms/step
MSE 40: 119.55915069580078
10/10 [==============================] - 0s 2ms/step
MSE 41: 112.42818450927734
10/10 [==============================] - 0s 2ms/step
MSE 42: 110.57596588134766
10/10 [==============================] - 0s 2ms/step
MSE 43: 103.80175018310547
10/10 [==============================] - 0s 2ms/step
MSE 44: 113.33549499511719
10/10 [==============================] - 0s 2ms/step
MSE 45: 113.23997497558594
10/10 [==============================] - 0s 2ms/step
MSE 46: 115.01969909667969
10/10 [==============================] - 0s 3ms/step
MSE 47: 108.4378662109375
10/10 [==============================] - 0s 2ms/step
MSE 48: 113.0469741821289
10/10 [==============================] - 0s 1ms/step
MSE 49: 101.70708465576172
10/10 [==============================] - 0s 2ms/step
MSE 50: 107.84789276123047
10/10 [==============================] - 0s 1ms/step


The mean and standard deviation of 50 mean squared errors without normalized data are as follows. Total number of epochs for each training session is: 50

Mean: 113.99245497815478
Standard Deviation: 9.246467961749577